<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - B2C Multi-tenant Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @{
        var model = (B2CMultiTenant.Models.UserTenantSelection)ViewData["UserTenants"];
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink((string)@ViewData["TenantName"], "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My tenants", "Index", "Tenants")</li>
                        <li>@Html.ActionLink("Signup to existing tenant", "Index", "UserSetup")</li>
                        if (User.IsInRole("admin"))
                        {
                            @*<li>@Html.ActionLink("Settings", "Index", "TenantSetup")</li>*@
                            <li>@Html.ActionLink("New user codes", "Index", "RedemptionCodes")</li>
                            <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        }
                        if (User.IsInRole("user"))
                        {
                            <li>@Html.ActionLink("User settings", "Index", "UserSetup")</li>
                            <li>@Html.ActionLink("Business", "Index", "Business")</li>
                        }
                    }
                    @*<li>@Html.DropDownList("tenants", model.Tenants.Select(t => new SelectListItem() { Value = t.Key.ToString(), Text = t.Value })) </li>*@
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - B2C Multi-tenant application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
